<p>about works!</p>
<img src="assets/user-avatars/png_128/user-1038-252479.png">
<section>
    <h3>Hi</h3>
    <p>Soy diseñador/desarrollador web. Actualmente vivo en Barcelona y siento pasión por programar tanto en Angular como en React</p>
</section>
<section>
    <h1>Estudios</h1>
    <div>
        <h3>Ingeniería Mecánica | UPC</h3>
        <p>Aprendí la importancia de la constancia y tuve la oportunidad de hacer un Erasmus en Karlsruhe, Alemania</p>
    </div>
    <div>
        <h3>Desarrollo de Sitios y Aplicaciones Web | UOC</h3>
        <p>Actualmente, estoy cursando un máster de front-end que acabaré en febrero de 2021. En un futuro </p>
    </div>
</section>
<section></section>
